* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.welcomeBox {
  color: white;
  display: flex;
  margin-bottom: 30px;
}
button {
  position: fixed;
  background-color: blueviolet;
  color: white;
  top: 0;
  right: 5px;
  padding: 0.5rem;
  border: none;
  transition: transform 1s ease-in-out;
}

button.active {
  transform: translateX(-120px);
}

nav {
  height: 100vh;
  background-color: blueviolet;
  position: fixed;
  width: 120px;
  top: 0;
  right: 5px;
  color: white;
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
}
nav.active {
  transform: translateX(0%);
}
nav ul {
  margin: 2px;
  padding: 1rem;
  list-style: none;
}

.type {
  width: 100%;
  background-color: rgb(68, 26, 33);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button.click {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  background-color: rgb(226, 43, 43);
  position: relative;
}

.container {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.toast {
  background-color: chartreuse;
  padding: 1rem;
  border-radius: 5px;
  margin: 5px;
  right: 50%;
}

nav ul li {
  margin-top: 0.5rem;
  margin-left: 0px;
}
nav ul li + li {
  margin-left: 10px;
}
nav ul li + li + li {
  margin-left: 22px;
}
